@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.hero-section-2 {
    position: relative;
    height: 880px;
    /* overflow: hidden; */
}

.overlay-hero-section {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);

}

.bg-imges-shows {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.bg-imges-shows>div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: -1;
    transition: opacity 5s ease-in-out, transform 6s ease-in-out;
}

.bg-imges-shows__img.active {
    opacity: 1;
    transform: scale(1.05);
}

/* Optional: Add some styling for transitions if needed */
.bg-imges-shows__img {
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}


.hero-bottom-border {
    width: 100%;
    position: absolute;
    bottom: -1px;
    z-index: 10;
}

.hero-bottom-border svg {
    width: 100%;
    display: block;
    fill: #fff;
}

.hero-section-content {
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    height: 100%;
    position: relative;
    z-index: 2;
}

.hero-section-content h1 {
    font-size: 3.5rem;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
    margin-top: 73px;
}

.hero-banner-mobile {
    margin-top: 20px;

}

.hero-section-content p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    margin-bottom: 20px;

}


.main-navbar a,
.all-banners-web a {
    position: relative;
}

.main-navbar a::before,
.all-banners-web a::before {
    background: #FFFFFF;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    top: 43px;
    transform: scaleX(0);
    transform-origin: right top 0;
    transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s, -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    width: 100%;
}

.main-navbar a:hover::before,
.all-banners-web a:hover::before {
    -webkit-transform: scaleX(1);
    -webkit-transform-origin: left top 0;
}


.our-service h1 {
    position: relative;
}

.our-service h1::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 2px;
    background: linear-gradient(to right, #2371ae 0%, #bb47d4 100%);
    bottom: -10px;
    text-align: center;
    transform: translate(-50%, 0);
    left: 50%;
}

.howitworks h1 {
    position: relative;
}


.howitworks h1::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 2px;
    background: linear-gradient(to right, #2371ae 0%, #bb47d4 100%);
    bottom: -10px;
    text-align: center;
    transform: translate(-50%, 0);
    left: 50%;
}

.works-list::before {
    border-radius: 50%;
    content: "";
    height: 10px;
    left: 0;
    margin-top: 1px;
    position: absolute;
    top: 6px;
    width: 10px;
    background: linear-gradient(to right, #2371aebf 0%, #bb47d4 100%);
}


.service-cart::before {
    content: "";
    position: absolute;
    bottom: 0.3px;
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, #60a5fa, #a78bfa, #f472b6);

}

/* 
.feature-each-cart{
    position: relative;
}
.feature-each-cart .rt_pulse{
    position: absolute;
    right: 39%;
    top: 23px;
    z-index: 1;
}
.feature-each-cart .rt_pulse:before{
    background: linear-gradient(to right, #2371ae 0%, #bb47d4 100%);
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    transform: translateY(-50%);
    width: 285px;
    z-index: -1;
}

.rt_pulses {
    border-radius: 50%;
    text-indent: -90000000px;
    animation: pulsing 2s infinite linear;
    animation-delay: 1.5s;
    position: absolute;
    right: -62%;
    top: 11%;
}
.rt_pulses:before{
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    background: rgba(165, 0, 201, 0.502);
    border-radius: 50%;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -23px;
    z-index: 9999;

}
.rt_pulses:after{
    content: '';
    width: 33px;
    height: 33px;
    background: #a500c9;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -17px;
    margin-top: -15px;
    border-radius: 50%;
    z-index: 9999;

}

@keyframes pulsing {
    0% {
        opacity: 1;
        transform: scale(0);
    }
    50% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
    }
}  */


.slider-container {
    position: relative;
    overflow: hidden;
}

.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider {
    display: flex;
    flex-direction: row;
}

.slider-item {
    min-width: 33.33%;
    /* Show 3 items at a time */
    box-sizing: border-box;
    padding: 0 10px;
    position: relative;
}

.slider-prev,
.slider-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 20;
}

.slider-prev {
    left: 10px;
}

.slider-next {
    right: 10px;
}

.hidden {
    display: none;
}


.slick-dots li button:before {
    font-size: 10px;
    color: transparent;
    /* Set the base color to transparent */
    background: linear-gradient(to right, #60a5fa, #a78bfa, #f472b6);
    border-radius: 50%;
    /* Make it circular */
    width: 12px !important;
    height: 12px !important;
    content: '';
    display: inline-block;
    color: unset !important;
}

.slick-dots li.slick-active button:before {
    background: linear-gradient(to right, #60a5fa, #a78bfa, #f472b6);
    /* Different gradient for the active dot */
    opacity: 1;
    /* Make sure the active dot is fully opaque */
}

.slick-dots {
    bottom: -41px !important;
}



.about-clip-path {
    clip-path: ellipse(93% 100% at top);
}

.overlay-allbanner {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    right: 0;
    /* background-image: linear-gradient(to right top, #2725b9d4, #3a39dcd1, #e748bec2, #e748bec9, #e748beb5) !important; */
    /* background-image: linear-gradient(to right top, rgba(96, 165, 250, 0.7), rgba(167, 139, 250, 0.7), rgba(244, 114, 182, 0.7)) !important; */
    background-color: rgba(0, 0, 0, 0.8); 
}


.service-carts:hover {
    color: #fff;
    /* Changes the text color on hover */
}

.service-carts:hover h3 {
    color: #fff;
    /* Changes the SVG icon color on hover */

}

.service-carts:hover svg {
    fill: #fff;
    /* Changes the SVG icon color on hover */
}


.custom-scrollbar::-webkit-scrollbar {
    width: 4px; /* Adjust the width as needed */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888; /* Scrollbar thumb color */
    border-radius: 10px; /* Rounded corners */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Scrollbar thumb hover color */
}




/* custom range  */
.custom-range {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    margin-top: 0.5rem;
    background-color: #4c4d50; /* Range background color */
    border-radius: 10px; 
    height: 8px;
    margin-bottom: 15px;
  }
  
  .custom-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: red; /* Thumb (Pointer) color */
    width: 16px; /* Default width */
    height: 16px; /* Default height */
    border-radius: 50%; /* Rounded thumb */
    cursor: pointer;
  }
  
  .custom-range::-moz-range-thumb {
    background-color: red; /* Thumb (Pointer) color */
    width: 10px !important; /* Default width */
    height: 16px; /* Default height */
    border-radius: 50%; /* Rounded thumb */
    cursor: pointer;
  }





  

.section-choose-background {
    background-image: url('/Images/choosebg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.vendor-bg {
    background-image: url('/Images/vendors.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-height: 430px;
}

.otp-container {
    display: flex;
    justify-content: space-between;
    border: none;
}

.otp-input {
    width: 3rem !important;
    height: 2rem;
    margin: 0 0.5rem;
    font-size: 1.5rem;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid red;
    text-align: center;
    outline: none;
}

.otp-input:focus {
    border: none;
    border-bottom: 2px solid rgb(239 68 68 / 0.5);
    outline: none;
}

/* To remove the number input spinner */
.otp-input[type='number']::-webkit-outer-spin-button,
.otp-input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}